include CITATION.cff README.md CHANGELOG.md LICENSE pyproject.toml MANIFEST.in .gitattributes .gitignore
recursive-include docs *.md *.yml
recursive-include input README.md
recursive-include examples *.py *.js *.csv *.json *.md
recursive-include requirements *.lock
recursive-include tools *.py
recursive-include .github *.yml *.py
recursive-include tests *
recursive-include validation *
global-exclude __pycache__ *.py[cod]
global-exclude .DS_Store Thumbs.db
